
@import url('https://fonts.googleapis.com/css?family=Bitter:400,700');
@import url('https://fonts.googleapis.com/css?family=Anton|Lobster');

html{
    height:100%;

}
h1{
    text-align: center;
    font-family: 'Bitter', serif;
    font-weight: 700;
    color:;
    font-size: 45px;
}
h5{
    text-align: center;
}

body{
    background: url('https://source.unsplash.com/s3bgMm0fFVI/1600x900') left no-repeat;
    background-size:auto;
}

.middle{
    width: 500px;
    height: 325px;
    background-color: #ffffff;
    /* CSS3 standard */
    opacity:0.5;
    /*margin-inside:100px;*/
   /* margin-left: 340px;*/
    display:table;
    margin:0px auto;
}

.bottom_left{
    color:AliceBlue;
    position:absolute;
    bottom:0;
    left: 15px;
}

form{
    text-align: center;
    /*margin-left: 340px;*/
}

#Email{
    color: #ffffcc;
    font-family: 'Lobster', cursive;
}